@charset "UTF-8";
@font-face {
  font-family: "Rubick";
  src: url(../font/Rubik-Regular.eot), url(../font/Rubik-Regular.ttf), url(../font/Rubik-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "Rubick";
  src: url(../font/Rubik-Medium.eot), url(../font/Rubik-Medium.ttf), url(../font/Rubik-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: "Rubick";
  src: url(../font/Rubik-Bold.eot), url(../font/Rubik-Bold.ttf), url(../font/Rubik-Bold.woff);
  font-weight: 700;
}

* {
  font-family: "Rubick";
  font-weight: 400;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font/icon.eot?xitdiq");
  src: url("../font/icon.eot?xitdiq#iefix") format("embedded-opentype"), url("../font/icon.ttf?xitdiq") format("truetype"), url("../font/icon.woff?xitdiq") format("woff"), url("../font/icon.svg?xitdiq#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../font */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
  color: #c7c7c7;
}

.icon-pdf:before {
  content: "\e903";
  color: #c2c2c2;
}

.icon-telegram:before {
  content: "\e905";
  color: #c7c7c7;
}

.icon-vk:before {
  content: "\e906";
  color: #c7c7c7;
}

.icon-whatsapp:before {
  content: "\e90d";
  color: #c2c2c2;
}

.icon-clock:before {
  content: "\e908";
  color: #c7c7c7;
}

.icon-loupe:before {
  content: "\e909";
  color: #c6c6c6;
}

.icon-mail:before {
  content: "\e90a";
  color: #c7c7c7;
}

.icon-placeholder:before {
  content: "\e90b";
  color: #c7c7c7;
}

.icon-mail1:before {
  content: "\e90c";
}

.icon-facebook:before {
  content: "\e900";
}

.icon-ok:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e904";
}

.icon-youtube:before {
  content: "\e907";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Rubick";
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

span {
  color: #000424;
}

.section {
  padding: 50px 0;
}

.main-title, .main-title h2, .main-title h3 {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 36px;
  color: #000424;
  line-height: 42px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #686868;
}

p + p {
  margin: 20px 0;
}

h1, .title {
  font-size: 36px;
  line-height: 43px;
  color: #000424;
  font-weight: 700;
}

.title-block {
  background-color: #EBECF1;
  padding: 28px 0;
  margin-bottom: 35px;
}

textarea {
  resize: none;
}

input, textarea {
  color: #000424;
  border-radius: 3px;
  border: 1px solid #E4E4E4;
  outline: none;
  padding: 24px;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

input:hover, textarea:hover {
  border-color: #c05d09;
}

input:focus, textarea:focus {
  border-color: #F58220;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #B4B4B4;
  font-size: 12px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 12px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #B4B4B4;
  font-size: 12px;
}

input::placeholder, textarea::placeholder {
  color: #B4B4B4;
  font-size: 12px;
}

.container {
  max-width: 1277px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.content-center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  width: 35px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #F5F5F5;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item [class^="icon-"]::before, .social__item [class*="icon-"]::before {
  color: #949494;
}

.social__item:hover {
  background-color: #F58220;
}

.social__item:hover [class^="icon-"]::before, .social__item:hover [class*="icon-"]::before {
  color: #ffffff;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__phone {
  margin-left: auto;
  margin-bottom: 7px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000424;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.contact__phone:hover {
  color: #595959;
}

.contact__mail {
  color: #F58220;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  text-decoration: none;
  font-size: 13px;
  margin-left: auto;
}

.contact__mail [class^="icon-"], .contact__mail [class*="icon-"] {
  margin-right: 5px;
}

.contact__mail [class^="icon-"]::before, .contact__mail [class*="icon-"]::before {
  color: #F58220;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.contact__mail:hover {
  color: #c05d09;
}

.contact__mail:hover [class^="icon-"]::before, .contact__mail:hover [class*="icon-"]::before {
  color: #f79d51;
}

.text-right {
  text-align: right;
}

.menu-mobile {
  display: none;
}

.burger {
  display: none;
  width: 30px;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.burger__icon {
  height: 2px;
  background-color: #F58220;
  border-radius: 3px;
  position: relative;
  width: 100%;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.burger__icon::before, .burger__icon::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #F58220;
  height: 2px;
  width: 100%;
  top: -10px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.burger__icon::after {
  top: 10px;
}

.burger:hover .burger__icon, .burger:hover .burger__icon::before, .burger:hover .burger__icon::after {
  background-color: #c05d09;
}

.btn {
  background: transparent;
  border: 1px solid #DDDDDD;
  outline: none;
  text-decoration: none;
  color: #000424;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover {
  border-color: #F58220;
  background-color: #F58220;
  color: white;
}

.checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 10;
}

.checkbox .mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
}

.checkbox input[type="checkbox"]:checked ~ .mark {
  background-image: url(../img/checkbox-checked.svg);
}

.search input[type="text"] {
  padding: 21px 25px;
  width: 100%;
  color: #000424;
}

.search__field {
  position: relative;
}

.search__field label {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.search__field label [class^="icon-"]::before, .search__field label [class*="icon-"]::before {
  color: #B4B4B4;
}

.tags {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
  grid-auto-rows: auto;
  margin-bottom: 45px;
}

.tags__text {
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  color: #000424;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  text-decoration: none;
}

.tags__text:hover {
  color: #F58220;
}

.quote {
  border: 1px solid #D1D1D1;
  padding: 25px 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.quote__text {
  font-size: 18px;
  line-height: 30px;
  color: #525252;
  font-style: italic;
  margin-left: 68px;
  width: 77%;
}

.btn-camback {
  font-size: 12px;
  display: inline-block;
  margin: 27px 0;
  color: #606060;
  padding: 15px 28px 15px 44px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
}

.btn-camback::after {
  content: "";
  display: block;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  height: 4px;
  width: 4px;
  border-top: 1px solid #606060;
  border-left: 1px solid #606060;
}

.btn-camback:hover::after {
  border-color: white;
}

.table-hidden {
  overflow: auto;
  padding-bottom: 60px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

table td {
  padding: 17px 20px;
  font-size: 16px;
  line-height: 27px;
  color: #000424;
}

table thead td {
  color: #949494;
  font-size: 14px;
}

table tbody td {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  max-width: 275px;
}

table tbody td:first-child {
  border-left: 1px solid #E8E8E8;
  color: #949494;
  text-align: center;
}

table tbody td:last-child {
  border-right: 1px solid #E8E8E8;
}

.file {
  background-image: url(../img/file.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 32px;
  display: inline-block;
}

.message {
  margin: 0 auto;
  padding: 28px 30px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
  color: #000424;
  border: 5px solid #F58220;
  width: 76%;
}

.bg-second {
  background: #EBECF1;
}

.pagination {
  position: static;
}

.pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 7px;
  height: 7px;
  margin: 0 3px;
}

.btn-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-next a {
  padding: 7px 42px 7px 29px;
  font-weight: 500;
  color: #000424;
  font-size: 12px;
  line-height: 27px;
  position: relative;
}

.btn-next a::before {
  content: "";
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: 3px;
  height: 3px;
  -webkit-transform: rotate(45deg) translateY(-70%);
          transform: rotate(45deg) translateY(-70%);
  border-top: 2px solid #606060;
  border-right: 2px solid #606060;
  position: absolute;
  right: 27px;
  top: 50%;
  right: 20px;
}

.btn-next a:hover::before {
  border-color: white;
}

.map {
  overflow: hidden;
  position: relative;
  max-height: 700px;
  margin-top: -35px;
}

.map-message {
  z-index: 999999;
  padding: 50px 60px;
  background: white;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.11);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.parent {
  position: relative;
  cursor: pointer;
  padding-right: 10px;
}

.parent > ul > li.parent > a::after {
  border: none;
  border-right: 2px solid #000424;
  border-bottom: 2px solid #000424;
}

.parent > ul > li.parent > a:hover::after {
  border-color: #F58220;
}

.parent > ul > li.parent:hover > a::after {
  border-color: #F58220;
}

.parent > ul > li.parent > ul {
  left: 100%;
  top: 0;
}

.parent:hover > a, .parent:hover > a::after {
  color: #F58220;
  border-color: #F58220;
}

.parent > a {
  position: relative;
}

.parent > a::after {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  right: -15px;
  top: 49%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  border-left: 2px solid #000424;
  border-bottom: 2px solid #000424;
}

.parent > a:hover::after {
  border-color: #F58220;
}

.parent > ul {
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
  z-index: -999;
  top: 101%;
  left: -30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
          box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25);
  padding: 10px 0;
}

.parent > ul > li {
  white-space: nowrap;
  padding: 0 20px;
  margin-right: 0 !important;
}

.parent:hover > ul {
  opacity: 1;
  z-index: 1000;
}

.header__menu ul li.parent > ul > li > a {
  padding: 10px 0;
}

.modal-message {
  display: none;
  max-width: 430px;
}

.modal-message__title {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 20px;
}

.modal-message svg {
  width: 100%;
  margin-bottom: 30px;
}

.modal-message__subtitle {
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.modal-message .feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-message .feedback__btn {
  padding: 20px 0;
}

.modal-message .agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-message .agree .checkbox {
  margin-right: 30px;
}

.modal-message .agree label {
  color: #949494;
  font-size: 14px;
}

.video-fancy {
  position: relative;
}

.icon-video {
  position: absolute;
  bottom: -20px;
  right: 10%;
}

.content {
  padding: 25px 0 20px;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.tab button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 24px;
  border-bottom: 1px dashed #F58220;
  color: #F58220;
  font-weight: 400;
  margin-right: 65px;
}

.tab button:last-child {
  margin-right: 0;
}

.tab button:hover {
  color: #c05d09;
  border-color: #c05d09;
}

.tab button.active {
  border-bottom: none;
  color: #000424;
  font-weight: 700;
}

.tab__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  opacity: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.tab__content[data-hidden="true"] {
  opacity: 0;
  position: absolute;
}

.tab__content a {
  color: #F58220;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  margin-bottom: 10px;
  font-size: 18px;
}

.tab__content a:hover {
  color: #c05d09;
}

.tab__content .contact {
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 250px;
}

.tab__content .data {
  color: #686868;
}

.tab__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contact {
  color: #000424;
}

.header__search input {
  border-radius: 0;
  margin: -1px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list [class^="icon-"], .header__list [class*="icon-"] {
  margin-right: 13px;
}

.header__list [class^="icon-"]::before, .header__list [class*="icon-"]::before {
  color: #F58220;
}

.header__list li, .header__list .header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  max-width: 260px;
  font-size: 14px;
}

.header__list li:last-child, .header__list .header__text:last-child {
  margin-right: 0;
}

.header__menu {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul li {
  margin-right: 32px;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li > a {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  padding: 21px 0;
  text-decoration: none;
  color: #000424;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.header__menu ul li > a:hover {
  color: #F58220;
}

.header__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__box {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.footer__social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__address {
  margin-top: 20px;
  font-size: 12px;
}

.footer__address i::before {
  color: #F58220;
}

.footer__up {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -20px;
  padding: 10px 20px 10px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.footer__up::before {
  content: "";
  display: block;
  position: absolute;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border-top: 1px solid  #000424;
  border-left: 1px solid  #000424;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer__up:hover::before {
  border-color: white;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 0 11px;
  position: relative;
}

.footer__wrap::last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
}

.footer__item:first-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer__item ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 27px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  padding: 5px 0;
}

.footer__item ul li a:hover {
  color: #F58220;
}

.footer__btn {
  padding: 10px 25px;
  text-align: center;
  font-size: 12px;
}

.footer__contact {
  margin-bottom: 30px;
}

.footer span {
  color: #000424;
  font-size: 12px;
  line-height: 20px;
}

.footer p {
  font-size: 12px;
  line-height: 20px;
}

.footer__wrap.copyright a {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: #606060;
}

.footer__wrap.copyright a:hover {
  text-decoration: underline;
}

.footer__wrap.copyright {
  padding: 20px 0;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 125px;
}

.error__search {
  width: 100%;
  max-width: 460px;
}

.error__title {
  font-size: 70px;
  line-height: 42px;
  font-weight: 500;
  padding: 45px 0 37px;
}

.error__subtitle {
  color: #000424;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.error p, .error__text {
  font-size: 18px;
  margin-bottom: 36px;
}

.error a {
  color: #F58220;
  text-decoration: none;
  border-bottom: 1px dashed #F58220;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.error a:hover {
  color: #c05d09;
  border-color: #c05d09;
}

.result-search ol {
  counter-reset: Myincrement;
  padding: 32px 0 20px 30px;
}

.result-search ol li {
  list-style: none;
  margin-bottom: 36px;
  width: 52%;
}

.result-search ol li::before {
  position: absolute;
  counter-increment: Myincrement;
  content: counter(Myincrement) ".";
  color: #8A8A8A;
  font-size: 16px;
  line-height: 24px;
  margin-left: -30px;
  margin-right: 17px;
}

.result-search ol li span, .result-search ol li .result-search__title {
  font-size: 16px;
  color: #F58220;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.result-search ol li p, .result-search ol li .result-search__text {
  line-height: 21px;
  font-size: 14px;
  color: #606060;
}

.result-search ol li a {
  text-decoration: none;
}

.result-search ol li a:hover span, .result-search ol li a:hover .result-search__title {
  color: #c05d09;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
  grid-auto-rows: minmax(150px, 556px);
}

.news__img {
  position: relative;
  max-height: 285px;
  overflow: hidden;
  margin-bottom: 36px;
}

.news__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.news__subtitle {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

.news__geo {
  font-size: 14px;
  margin-bottom: 20px;
}

.news p {
  font-size: 14px;
  width: 90%;
}

.news__data {
  position: absolute;
  left: 20px;
  bottom: 17px;
  background-color: white;
  padding: 8px 16px;
  font-size: 12px;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  text-decoration: none;
}

.news__item img {
  width: 100%;
}

.news__item:hover .news__title {
  color: #F58220;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__text {
  margin-top: 30px;
  text-align: center;
}

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 205px;
  grid-gap: 25px;
}

.services__marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  width: 38px;
  background-color: #F58220;
  position: absolute;
  right: 28px;
  bottom: 32px;
  z-index: 20;
}

.services__marker::before {
  content: "";
  color: white;
  font-size: 16px;
  width: 6px;
  height: 6px;
  background-color: white;
}

.services__item {
  position: relative;
  text-decoration: none;
  padding: 29px 43px 20px 43px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(94, 94, 94, 0.7)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 45%, rgba(94, 94, 94, 0.7) 70%);
}

.services__item::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  height: 100%;
  background-color: #F58220;
}

.services__item:hover .services__marker {
  background-color: #FF9132;
}

.services__item:hover .services__marker::before {
  content: "→";
  width: auto;
  height: auto;
  background-color: transparent;
}

.services__item:hover .services__info {
  top: 0;
}

.services__item:hover .services__title {
  margin-top: 0;
}

.services__item:hover::after {
  top: 0;
}

.services__item:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(255, 255, 255, 0)), color-stop(0, rgba(94, 94, 94, 0.6)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 100%, rgba(94, 94, 94, 0.6) 0);
}

.services__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.services__title {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  max-width: 275px;
  margin-top: 32%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.services__info {
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  top: 100%;
  z-index: 10;
}

.services__info ul {
  list-style-type: none;
  padding-left: 12px;
}

.services__info ul li {
  list-style-image: url(../img/service-list.svg);
  color: white;
  font-size: 14px;
  line-height: 22px;
}

.bg-services {
  background-image: url(../img/bg-service.jpg);
  background-repeat: no-repeat;
}

.detail__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.detail__text {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
}

.detail__media {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.detail__media.video svg rect {
  -webkit-transition: fill .2s linear;
  transition: fill .2s linear;
}

.detail__media.video:hover svg rect {
  fill: #c05d09;
}

.detail__media img {
  width: 100%;
}

.detail h1, .detail .title {
  margin-bottom: 31px;
  width: 45%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 45px 30px;
  margin-bottom: 45px;
}

.info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 50px;
}

.info__line {
  height: 1px;
  background-color: #EFEFEF;
  margin-left: 4%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.info__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.info__media span {
  font-size: 24px;
  font-weight: 500;
}

.info__media img {
  margin-right: 35px;
  width: 130px;
}

.info ul {
  padding-left: 14px;
  list-style-type: none;
}

.info ul li {
  list-style-image: url(../img/ul-info.svg);
  font-size: 16px;
  line-height: 26px;
  color: #686868;
  padding-left: 9px;
}

.client {
  margin-bottom: 33px;
}

.client .pagination {
  margin-top: 32px;
}

.client__item {
  height: 233px;
  border: 1px solid #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter, -webkit-box-shadow .2s linear;
  transition: -webkit-filter, -webkit-box-shadow .2s linear;
  transition: filter, box-shadow .2s linear;
  transition: filter, box-shadow .2s linear, -webkit-filter, -webkit-box-shadow .2s linear;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.client__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-box-shadow: 0px 3px 40px #E2E4EB;
          box-shadow: 0px 3px 40px #E2E4EB;
}

.reviews {
  margin-bottom: 33px;
}

.reviews .pagination {
  margin-top: 32px;
}

.reviews__slide {
  padding: 60px 40px 40px 40px;
  background-color: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  position: relative;
  min-height: 420px;
}

.reviews__slide::before {
  content: "+";
  font-weight: 400;
  font-size: 45px;
  color: white;
  background-color: #F58220;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  opacity: 0;
}

.reviews__slide:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.reviews__slide:hover::before {
  opacity: 1;
}

.reviews__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: rgba(0, 0, 0, 0);
}

.reviews__media img {
  width: 100%;
}

.direction {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .825fr 1fr 1fr;
      grid-template-columns: .825fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 25px;
}

.direction__item {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.direction__item.tall {
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

.direction__item:hover .direction__title span {
  color: #F58220;
}

.direction__image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}

.direction__image::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(113, 104, 94, 0.65)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 55%, rgba(113, 104, 94, 0.65) 90%);
}

.direction__image img {
  height: 100%;
}

.direction__title {
  position: absolute;
  bottom: 38px;
  left: 32px;
  z-index: 10;
}

.direction__title .direction__decoration {
  position: absolute;
  height: 133%;
  width: 74px;
  left: 0;
  border: 2px solid #F58220;
  border-right: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.direction__title .direction__decoration::after, .direction__title .direction__decoration::before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  width: 2px;
  height: 6px;
  background-color: #F58220;
}

.direction__title .direction__decoration::before {
  bottom: 0;
}

.direction__title span {
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
  font-size: 20px;
  line-height: 27px;
  display: inline-block;
  color: white;
  padding-left: 16px;
  max-width: 250px;
}

.hero {
  position: relative;
}

.hero__title, .hero h1 {
  font-weight: 500;
  margin-bottom: 12px;
  color: white;
  font-size: 55px;
  line-height: 65px;
  color: white;
}

.hero__text {
  display: block;
  font-size: 18px;
  line-height: 27px;
  width: 50%;
  color: white;
  margin-bottom: 30px;
}

.hero__description {
  pointer-events: none;
  padding-top: 115px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.hero__btn {
  pointer-events: auto;
  display: inline-block;
  color: white;
  border-color: #F58220;
  background-color: #F58220;
  padding: 15px 50px 15px 30px;
  cursor: pointer;
  text-decoration: none;
}

.hero__btn:hover {
  background-color: #c05d09;
  border-color: #c05d09;
}

.hero .pagination {
  text-align: left;
  padding: 32px 0;
}

.hero .pagination .swiper-pagination-bullet {
  pointer-events: auto;
  background: white;
  opacity: .8;
}

.hero .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F58220;
  opacity: 1;
}

.geo {
  border: 1px solid #EDEDED;
}

.geo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.geo__description {
  min-width: 0;
}

.geo__title {
  color: #000424;
  font-size: 20px;
  line-height: 27px;
  padding: 23px 0 15px;
  font-weight: 500;
}

.geo__text {
  font-size: 14px;
  line-height: 22px;
  color: #000424;
}

.geo .pagination {
  text-align: left;
  padding: 12px 0 39px;
  padding-left: 50px;
}

.geo .btn-next {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 71px;
}

.geo__slider .swiper-slide {
  padding-top: 58px;
  padding-left: 50px;
}

.geo__slider .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 54%;
}

.geo__map {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  border-right: 1px solid #EDEDED;
}

.feedback {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 668px;
  width: 100%;
  margin: 0 auto;
}

.feedback__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000424;
  margin-bottom: 20px;
}

.feedback__subtitle {
  color: #686868;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 36px;
}

.feedback__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: 65px;
  grid-gap: 14px 21px;
  width: 100%;
}

.feedback__btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background: #F58220;
  color: white;
  border-color: #F58220;
}

.feedback__btn:hover {
  background: #c05d09;
  border-color: #c05d09;
}

.feedback__field input, .feedback__field textarea, .feedback__field button {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.feedback__field input::-webkit-input-placeholder, .feedback__field textarea::-webkit-input-placeholder, .feedback__field button::-webkit-input-placeholder {
  font-size: 14px;
}

.feedback__field input:-ms-input-placeholder, .feedback__field textarea:-ms-input-placeholder, .feedback__field button:-ms-input-placeholder {
  font-size: 14px;
}

.feedback__field input::-ms-input-placeholder, .feedback__field textarea::-ms-input-placeholder, .feedback__field button::-ms-input-placeholder {
  font-size: 14px;
}

.feedback__field input::placeholder, .feedback__field textarea::placeholder, .feedback__field button::placeholder {
  font-size: 14px;
}

.feedback__field.textarea {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 2/ -1;
}

.feedback .agree {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback .agree .checkbox {
  margin-right: 10px;
}

.feedback .agree label {
  font-size: 14px;
  color: #B2B2B2;
}

.feedback .agree label a {
  text-decoration: none;
  font-size: 14ox;
  color: #B2B2B2;
}

.feedback .agree label a:hover {
  text-decoration: underline;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 0;
}

.breadcrumbs li {
  color: #A3A3A3;
  padding: 5px 10px 5px 0;
  font-size: 12px;
  margin-right: 15px;
}

.breadcrumbs li a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #a3a3a3;
  font-size: 12px;
}

.breadcrumbs li a::before {
  content: "-";
  color: #a3a3a3;
  display: block;
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10px;
}

.pagination {
  width: 100%;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.pagination ul li {
  margin-right: 10px;
}

.pagination ul li:last-child {
  margin-right: 0;
}

.pagination ul li a {
  border-radius: 3px;
  border: 1px solid #E7E7E7;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  width: 40px;
  height: 40px;
  position: relative;
}

.pagination ul li a.active {
  background-color: #F58220;
  color: white;
  border-color: #F58220;
  pointer-events: none;
}

.pagination ul li a:hover {
  border-color: #F58220;
}

.pagination ul li .next::after, .pagination ul li .prev::after {
  content: "";
  position: absolute;
  display: block;
  top: 35%;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.pagination ul li .next::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 40%;
}

.pagination ul li .prev::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 40%;
}

.pagination ul li .dotted, .pagination ul li .disabled {
  pointer-events: none;
  color: #c9c9c9;
}

.pagination ul li .dotted::after, .pagination ul li .disabled::after {
  border-color: #c9c9c9;
}

@media screen and (max-width: 1400px) {
  .map-message {
    -webkit-transform: translate(-2%, -50%);
            transform: translate(-2%, -50%);
  }
  .container {
    max-width: 1140px;
  }
  .header__menu ul li {
    margin-right: 20px;
  }
  .header__menu ul li a {
    font-size: 14px;
  }
  .header__search {
    max-width: 200px;
  }
  .logo svg {
    max-width: 150px;
  }
  .contact__phone {
    font-size: 16px;
  }
  .contact__mail {
    font-size: 12px;
  }
  .news__img {
    max-height: 255px;
  }
  .services {
    grid-auto-rows: 185px;
  }
  .services__item {
    padding: 27px 60px 20px 30px;
  }
  .map {
    max-height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .tab {
    margin-bottom: 20px;
  }
  .map-message {
    padding: 20px;
  }
  .tab__content .contact {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .tab button {
    font-size: 20px;
    margin-right: 40px;
  }
  .tab__content a {
    font-size: 14px;
  }
  .map {
    max-height: 450px;
    margin-top: -30px;
  }
  .services {
    grid-auto-rows: 153px;
  }
  .services__marker {
    right: 10px;
    bottom: 15px;
  }
  .news__img {
    margin-bottom: 20px;
    max-height: 210px;
  }
  .news__title {
    font-size: 16px;
    line-height: 20px;
  }
  .news p {
    width: 100%;
    line-height: 20px;
  }
  .news {
    grid-auto-rows: minmax(150px, 445px);
  }
  .news__geo {
    margin-bottom: 10px;
  }
  .news__data {
    font-size: 11px;
    padding: 7px;
  }
  .title-block {
    padding: 20px 0;
    margin-bottom: 30px;
  }
  .logo svg {
    max-height: 54px;
  }
  .header__panel {
    padding: 10px 0;
  }
  .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list, .header__social, .header__menu ul {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1, .title {
    font-size: 32px;
    line-height: 40px;
  }
  .container {
    max-width: 960px;
  }
  .contact__phone {
    font-size: 15px;
  }
  .result-search ol li {
    width: 70%;
  }
  .advantage__item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .quote__text {
    width: 100%;
    margin-left: 45px;
  }
  table tbody td {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 20px;
  }
  .message {
    width: 100%;
  }
  .hero__description {
    padding-top: 70px;
  }
  .geo__slider .swiper-slide, .geo .btn-next, .geo .pagination {
    padding-left: 25px;
  }
  .geo .btn-next {
    margin-bottom: 50px;
  }
  .geo__slider .slide-content {
    width: 75%;
  }
  .feedback {
    padding: 70px 0;
  }
}

@media screen and (max-width: 992px) {
  .feedback {
    padding: 60px 0;
  }
  .geo__title {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }
  .geo__text {
    font-size: 13px;
    line-height: 17px;
  }
  .geo .pagination {
    padding: 15px 0;
  }
  .geo__slider .swiper-slide {
    padding-top: 20px;
  }
  .geo__slider .swiper-slide, .geo .btn-next, .geo .pagination {
    padding-left: 10px;
  }
  .geo__slider .slide-content {
    width: 95%;
  }
  .geo .btn-next {
    margin-bottom: 20px;
  }
  .hero__description {
    padding-top: 50px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .hero .pagination {
    padding: 20px 0;
  }
  .services {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-auto-rows: 175px;
  }
  .services__marker {
    right: 28px;
    bottom: 24px;
  }
  .message {
    font-size: 20px;
    padding: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  table tbody td:nth-child(n+2) {
    min-width: 200px;
  }
  .btn-camback {
    margin: 15px 0 20px;
  }
  .quote {
    padding: 20px 25px;
  }
  .quote__text {
    margin-left: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .tags {
    grid-gap: 25px 15px;
  }
  .tags__text {
    font-size: 14px;
    line-height: 18px;
  }
  .advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantage__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-bottom: 35px;
  }
  .advantage__text {
    margin-top: 15px;
  }
  .news {
    grid-gap: 15px;
  }
  .news__img {
    max-height: 170px;
    margin-bottom: 10px;
  }
  .section {
    padding: 30px 0;
  }
  .main-title, .main-title h2, .main-title h3 {
    margin-bottom: 30px;
    font-size: 30px;
  }
  .title-block {
    padding: 18px 0;
    margin-bottom: 20px;
  }
  .result-search ol li {
    width: auto;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 10px;
  }
  .footer__item .footer__address {
    text-align: left;
  }
  .error__title {
    font-size: 45px;
    padding: 20px 0;
  }
  .error__subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .error p, .error__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .search input[type="text"] {
    padding: 18px;
  }
  h1, .title {
    font-size: 28px;
    line-height: 36px;
  }
  .container {
    max-width: 720px;
    padding: 0 10px;
  }
  .pagination ul li a {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }
  .pagination ul li .next::after, .pagination ul li .prev::after {
    width: 8px;
    height: 8px;
  }
  .pagination ul li {
    margin-right: 4px;
  }
  .pagination ul {
    padding: 45px 0;
  }
  .detail h1, .detail .title {
    width: 100%;
  }
  .detail__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail__media {
    margin-bottom: 20px;
  }
  .info__media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__media img {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .client .pagination, .reviews .pagination {
    margin-top: 15px;
  }
  .client, .reviews {
    margin-bottom: 15px;
  }
  .direction {
    grid-auto-rows: minmax(200px, 220px);
  }
  .direction__title span {
    font-size: 15px;
    line-height: 20px;
    max-width: 180px;
  }
  .direction__title {
    left: 10px;
    bottom: 15px;
  }
  .hero__title, .hero h1 {
    font-size: 44px;
    line-height: 55px;
  }
  .map {
    max-height: 350px;
    margin-top: -20px;
  }
  .feedback__title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .feedback__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .detail__media {
    position: relative;
  }
  .video-fancy {
    position: static;
  }
  .icon-video {
    right: 50%;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    bottom: auto;
  }
}

@media screen and (max-width: 768px) {
  .tab {
    margin-bottom: 15px;
  }
  .tab__content .contact {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .tab__content .data {
    font-size: 12px;
  }
  .tab button {
    margin-right: 20px;
    font-size: 16px;
  }
  .modal-message__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .modal-message .feedback__btn {
    padding: 15px 0;
  }
  .modal-message .agree label {
    font-size: 12px;
  }
  .feedback {
    padding: 40px 0;
    padding: 0 10px;
  }
  .map {
    max-height: 300px;
    margin-top: -15px;
  }
  .hero .pagination {
    padding: 10px 0;
  }
  .hero__btn {
    padding: 10px 30px 10px 20px;
  }
  .hero__text {
    width: 80%;
  }
  .direction {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: auto;
  }
  .direction__title {
    left: 20px;
    bottom: 25px;
  }
  .services {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: 230px;
  }
  .message {
    font-size: 16px;
    padding: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    border-width: 2px;
  }
  table tbody td, table td {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 10px;
  }
  table tbody td:nth-child(n+2) {
    min-width: 150px;
  }
  table tbody td::last-child {
    min-width: none;
  }
  .quote {
    padding: 10px 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .quote__text {
    margin-left: 15px;
    font-size: 13px;
    line-height: 17px;
  }
  .detail h1, .detail .title {
    margin-bottom: 15px;
  }
  .pagination ul {
    padding: 30px 0;
  }
  .tags {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section {
    padding: 15px 0;
  }
  .main-title, .main-title h2, .main-title h3 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .title-block {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  p {
    font-size: 13px;
    line-height: 19px;
  }
  .result-search ol {
    padding-left: 20px 0 20px 20px;
  }
  .result-search ol li {
    margin-bottom: 20px;
  }
  .result-search ol li span, .result-search ol li .result-search__title {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 17px;
  }
  .result-search ol li p, .result-search ol li .result-search__text {
    font-size: 13px;
    line-height: 17px;
  }
  .breadcrumbs li, .breadcrumbs li a {
    font-size: 11px;
  }
  .breadcrumbs li {
    margin-right: 8px;
  }
  .breadcrumbs li a::before {
    right: -10px;
  }
  .search input[type="text"] {
    font-size: 14px;
    padding: 14px;
  }
  .error {
    padding: 24px 0 55px;
  }
  .error p, .error__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  .error__title {
    padding: 10px 0;
  }
  h1, .title {
    font-size: 24px;
    line-height: 32px;
  }
  .container {
    max-width: 540px;
  }
  p + p {
    margin: 10px 0;
  }
  .news__img {
    max-height: none;
  }
  .news__data {
    font-size: 12px;
    padding: 9px;
  }
  .news {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 35px;
  }
  .info__title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .info ul li {
    font-size: 14px;
  }
  .info__media span {
    font-size: 20px;
  }
  .info__media {
    margin-bottom: 10px;
  }
  .footer__box {
    margin-top: 35px;
  }
}

@media screen and (max-width: 576px) {
  .map-message {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .content {
    padding: 15px 0 10px;
  }
  .feedback .agree .checkbox {
    margin-right: 30px;
  }
  .feedback__field.textarea textarea {
    height: 100px;
  }
  .feedback__btn {
    padding: 15px 0;
  }
  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback {
    padding: 20px 10px 40px;
  }
  .feedback__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .feedback__title {
    margin-bottom: 5px;
  }
  .map {
    max-height: 250px;
  }
  .geo__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .geo__map {
    max-height: 250px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .geo__slider .slide-content {
    width: 95%;
  }
  .hero__description {
    padding-top: 10px;
  }
  .hero__text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .hero__btn {
    font-size: 15px;
  }
  .hero .swiper-slide {
    max-height: 310px;
  }
  .hero__title, .hero h1 {
    font-size: 30px;
  }
  .direction {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .direction__image img {
    height: auto;
    width: 100%;
  }
  .direction {
    grid-auto-rows: minmax(220px, 230px);
  }
  .direction__item.tall {
    -ms-grid-row: span 1;
        grid-row-start: span 1;
  }
  .direction__title span {
    font-size: 17px;
    line-height: 23px;
  }
  .services {
    grid-auto-rows: 158px;
  }
  .services__item {
    padding: 10px;
  }
  .services__marker {
    width: 30px;
    height: 30px;
    right: 10px;
  }
  .services__title {
    max-width: 240px;
    font-size: 14px;
    line-height: 18px;
  }
  .services__info ul li {
    font-size: 12px;
    line-height: 16px;
  }
  .info__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .info__line {
    display: none;
  }
  .info__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .message {
    font-size: 14px;
    padding: 10px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .tags {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 15px;
  }
  .tags__text {
    font-size: 13px;
  }
  .advantage__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .pagination ul li a {
    width: 28px;
    height: 28px;
    font-size: 10px;
  }
  .title-block {
    padding: 7px 0;
  }
  .breadcrumbs {
    padding: 14px 0;
  }
  .logo svg {
    max-width: 145px;
  }
  .contact__phone {
    font-size: 15px;
  }
  .search input[type="text"] {
    font-size: 14px;
  }
  h1, .title {
    font-size: 19px;
    line-height: 20px;
  }
  .container {
    max-width: 375px;
  }
  .main-title, .main-title h2, .main-title h3 {
    font-size: 24px;
  }
  .detail__media {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */