.advantage
  display: flex
  justify-content: space-between
  &__item
    flex-basis: 20%
    display: flex
    flex-direction: column
    align-items: center
  &__text
    margin-top: 30px
    text-align: center
