.client
  margin-bottom: 33px
  & .pagination
    margin-top: 32px
  &__item
    height: 233px
    border: 1px solid #ECECEC
    display: flex
    justify-content: center
    align-items: center
    filter: grayscale(100%)
    transition: filter, box-shadow .2s linear
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)
    &:hover
      filter: grayscale(0)
      box-shadow: 0px 3px 40px #E2E4EB
