.detail
  &__wrap
    display: flex
    justify-content: space-between
    margin-bottom: 23px
  &__text
    flex-basis: 51%
  &__media 
    flex-basis: 44%
    &.video svg rect
      transition: fill .2s linear
    &.video:hover svg rect
      fill: darken($color-main, 15%)

  &__media img
    width: 100%
  & h1, & .title
    margin-bottom: 31px
    width: 45%