.direction
  display: grid
  grid-template-columns: .825fr 1fr 1fr
  grid-auto-rows: minmax(200px, auto)
  grid-gap: 25px
  &__item
    position: relative
    overflow: hidden
    text-decoration: none
    &.tall
      grid-row-start: span 2
    &:hover .direction__title span 
      color: $color-main
  &__image
    top: 0
    left: 0
    right: 0 
    bottom: 0
    height: 100%
    &::after
      content: ""
      position: absolute
      display: block
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(180deg, rgba(255,255,255,0) 55%, rgba(113,104,94,0.65) 90%)
    & img 
      height: 100%
  &__title
    position: absolute
    bottom: 38px
    left: 32px
    z-index: 10
    & .direction__decoration
      position: absolute
      height: 133%
      width: 74px
      left: 0
      border: 2px solid $color-main
      border-right: none
      top: 50%
      transform: translateY(-50%)
      &::after, &::before
        content: ""
        position: absolute
        display: block
        right: 0
        width: 2px
        height: 6px
        background-color: $color-main
      &::before
        bottom: 0
    & span
      transition: color .2s linear
      font-size: 20px
      line-height: 27px
      display: inline-block
      color: white
      padding-left: 16px
      max-width: 250px
