.error
  display: flex
  flex-direction: column
  align-items: center
  padding: 24px 0 125px
  &__search
    width: 100%
    max-width: 460px
  &__title
    font-size: 70px
    line-height: 42px
    font-weight: 500
    padding: 45px 0 37px
  &__subtitle
    color: #000424
    font-size: 24px
    line-height: 26px
    font-weight: 500
    margin-bottom: 15px
  & p, &__text
    font-size: 18px
    margin-bottom: 36px
  & a 
    color: $color-main
    text-decoration: none
    border-bottom: 1px dashed $color-main
    transition: all .2s linear
    &:hover 
      color: darken($color-main, 15%)
      border-color: darken($color-main, 15%)