.feedback
  padding: 80px 0
  display: flex
  flex-direction: column
  align-items: center
  max-width: 668px
  width: 100%
  margin: 0 auto
  &__title
    font-weight: 700
    font-size: 30px
    line-height: 35px
    color: #000424
    margin-bottom: 20px
  &__subtitle
    color: #686868
    font-size: 18px 
    line-height: 24px
    margin-bottom: 36px
  &__form
    display: grid
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 65px
    grid-gap: 14px 21px
    width: 100%
  &__btn
    cursor: pointer
    font-size: 18px
    font-weight: 500
    background: $color-main
    color: white
    border-color: $color-main
    &:hover
      background: darken($color-main, 15%)
      border-color: darken($color-main, 15%)
  &__field
    & input, & textarea, & button
      border-radius: 3px
      width: 100%
      height: 100%
      &::placeholder
        font-size: 14px
    &.textarea
      grid-row: 1 / span 2
      grid-column: 2/ -1 
  & .agree 
    grid-column: 1 / -1
    display: flex
    align-items: center
    justify-content: center
    & .checkbox
      margin-right: 10px
    & label
      font-size: 14px
      color: #B2B2B2
      & a 
        text-decoration: none
        font-size: 14ox
        color: #B2B2B2
        &:hover
          text-decoration: underline
