.footer
  &__box
    border-top: 1px solid #e7e7e7
    border-bottom: 1px solid #e7e7e7
  &__social
    justify-content: flex-end
  &__address
    margin-top: 20px
    font-size: 12px
    & i::before 
      color: $color-main
  &__up
    font-size: 12px
    position: absolute
    right: 0
    top: -20px
    padding: 10px 20px 10px 42px
    display: flex
    align-items: center
    background-color: white
    &::before
      content: ""
      display: block
      position: absolute
      left: 22px
      top: 50%
      transform: translateY(-50%) rotate(45deg)
      width: 6px
      height: 6px
      border-top: 1px solid  #000424
      border-left: 1px solid  #000424
      transition: all .2s linear
    &:hover::before
      border-color: white
  &__wrap
    display: flex
    justify-content: space-between
    padding: 39px 0 11px
    position: relative
    &::last-child
      align-items: center
      padding: 20px 0
  &__item
    display: flex
    flex-direction: column
    flex-basis: 16%
    &:first-child
      flex-basis: 20%
    & ul 
      & li
        & a
          text-decoration: none
          font-size: 14px
          line-height: 27px
          transition: color .2s linear
          padding: 5px 0
          &:hover
            color: $color-main
  &__btn
    padding: 10px 25px
    text-align: center
    font-size: 12px
  &__contact
    margin-bottom: 30px
  & span 
    color: #000424
    font-size: 12px
    line-height: 20px
  & p 
    font-size: 12px
    line-height: 20px

.footer__wrap.copyright a 
  font-size: 12px
  line-height: 20px
  text-decoration: none
  color: #606060
  &:hover
    text-decoration: underline
  
.footer__wrap.copyright
  padding: 20px 0