.geo
  border: 1px solid #EDEDED
  &__wrap
    display: flex
  &__description
    min-width: 0
  &__title
    color: #000424
    font-size: 20px
    line-height: 27px
    padding: 23px 0 15px
    font-weight: 500
  &__text
    font-size: 14px
    line-height: 22px
    color: #000424
  & .pagination
    text-align: left
    
    padding: 12px 0 39px
    padding-left: 50px
  & .btn-next
    justify-content: flex-start
    padding-left: 50px
    margin-bottom: 71px
  &__slider
    & .swiper-slide
      padding-top: 58px
      padding-left: 50px
    & .slide-content
      display: flex
      flex-direction: column
      width: 54%
  &__map
    overflow: hidden
    flex: 0 0 60%
    border-right: 1px solid #EDEDED