.header
  &__search
    & input 
      border-radius: 0
      margin: -1px 0
  &__wrap
    display: flex
    align-items: center
    justify-content: space-between
  &__panel
    display: flex
    padding: 13px 0
    align-items: center
    justify-content: space-between
  &__list
    display: flex
    & [class^="icon-"], & [class*="icon-"]
      margin-right: 13px
      &::before
        color: $color-main
    & li, .header__text
      display: flex
      margin-right: 20px
      max-width: 260px
      font-size: 14px
      &:last-child
        margin-right: 0 
  &__menu
    border-top: 1px solid #e4e4e4
    border-bottom: 1px solid #e4e4e4
    & ul 
      display: flex
      & li 
        margin-right: 32px
        &:last-child
          margin-right: 0
        & > a 
          display: inline-block
          font-weight: 500
          font-size: 15px
          padding: 21px 0
          text-decoration: none
          color: #000424
          transition: color .2s linear 
          &:hover
            color: $color-main
.header__text
  flex-direction: column