.hero
  position: relative
  &__title, & h1
    font-weight: 500
    margin-bottom: 12px
    color: white
    font-size: 55px
    line-height: 65px
    color: white
  &__text
    display: block
    font-size: 18px
    line-height: 27px
    width: 50%
    color: white
    margin-bottom: 30px
  &__description
    pointer-events: none
    padding-top: 115px
    position: absolute
    width: 100%
    z-index: 999
  &__btn
    pointer-events: auto
    display: inline-block
    color: white
    border-color: $color-main
    background-color: $color-main
    padding: 15px 50px 15px 30px
    cursor: pointer
    text-decoration: none
    &:hover
      background-color: darken($color-main, 15%)
      border-color: darken($color-main, 15%)
  & .pagination
    text-align: left
    padding: 32px 0
    & .swiper-pagination-bullet
      pointer-events: auto
      background: white
      opacity: .8
      &.swiper-pagination-bullet-active
        background: $color-main
        opacity: 1 