.info
  display: flex
  flex-direction: column
  &__wrap
    display: grid
    grid-template-columns: 1fr 1fr
    grid-auto-rows: auto
    grid-gap: 45px 30px
    margin-bottom: 45px
  &__title
    display: flex
    align-items: center
    font-size: 30px
    font-weight: 700
    line-height: 35px
    margin-bottom: 50px
  &__line
    height: 1px 
    background-color: #EFEFEF
    margin-left: 4%
    flex: 1 0 0
  &__media
    display: flex
    align-items: center
    margin-bottom: 27px
    & span
      font-size: 24px
      font-weight: 500
    & img 
      margin-right: 35px
      width: 130px
  & ul 
    padding-left: 14px
    list-style-type: none
    & li 
      list-style-image: url(../img/ul-info.svg)
      font-size: 16px
      line-height: 26px
      color: #686868
      padding-left: 9px
    