.news
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 23px
  grid-auto-rows: minmax(150px, 556px)
  &__img
    position: relative
    max-height: 285px
    overflow: hidden
    margin-bottom: 36px
  &__link
    text-decoration: none
    display: flex
    flex-direction: column
  &__title
    font-weight: 500
    font-size: 18px
    line-height: 25px
    margin-bottom: 20px
    transition: color .2s linear
  &__subtitle
    font-weight: 500
    font-size: 14px
    margin-bottom: 8px
  &__geo 
    font-size: 14px
    margin-bottom: 20px
  & p 
    font-size: 14px
    width: 90%
  &__data
    position: absolute
    left: 20px
    bottom: 17px
    background-color: white
    padding: 8px 16px
    font-size: 12px
  &__item
    display: flex
    flex-direction: column
    overflow: hidden
    text-decoration: none
    & img 
      width: 100%
    &:hover
      & .news__title
        color: $color-main
