.result-search
  & ol 
    counter-reset: Myincrement
    padding: 32px 0 20px 30px
    & li
      list-style: none
      margin-bottom: 36px
      width: 52%
      &::before
        position: absolute
        counter-increment: Myincrement
        content: counter(Myincrement) '.'
        color: #8A8A8A
        font-size: 16px
        line-height: 24px
        margin-left: -30px
        margin-right: 17px
      & span, .result-search__title
        font-size: 16px
        color: $color-main
        font-weight: 500
        line-height: 24px
        margin-bottom: 10px
        display: inline-block
        transition: color .2s linear
      & p, .result-search__text
        line-height: 21px
        font-size: 14px
        color: #606060
      & a 
        text-decoration: none
        &:hover
          & span, .result-search__title
            color: darken($color-main, 15%)
