.reviews
  margin-bottom: 33px
  & .pagination
    margin-top: 32px
  &__slide
    padding: 60px 40px 40px 40px  
    background-color: white
    transition: all .2s linear
    position: relative
    min-height: 420px
    &::before
      content: "+"
      font-weight: 400
      font-size: 45px
      color: white
      background-color: $color-main
      width: 65px
      height: 65px
      position: absolute
      top: 50%
      left: 50%
      display: flex
      justify-content: center
      align-items: center
      z-index: 100
      transform: translate(-50%, -50%)
      transition: opacity .2s linear
      opacity: 0
    &:hover 
      &::after
        background-color: rgba(0,0,0,0.4)
      &::before
        opacity: 1
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 99
      transition: all .2s linear
      background-color: rgba(0,0,0,0)
  &__media 
    & img 
      width: 100%

