.services
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-auto-rows: 205px
  grid-gap: 25px
  &__marker
    display: flex
    justify-content: center
    align-items: center
    height: 38px
    width: 38px
    background-color: #F58220
    position: absolute
    right: 28px
    bottom: 32px
    z-index: 20
    &::before
      content: ""
      color: white
      font-size: 16px
      width: 6px
      height: 6px
      background-color: white
  &__item
    position: relative
    text-decoration: none
    padding: 29px 43px 20px 43px
    overflow: hidden
    display: flex
    flex-direction: column
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      display: block
      z-index: 10
      background: linear-gradient(180deg, rgba(255,255,255,0) 45%, rgba(94,94,94,0.7) 70%)
    &::after
      content: ""
      position: absolute
      right: 0
      left: 0
      top: 100%
      transition: all .2s linear
      height: 100% 
      background-color: #F58220
    &:hover
      & .services__marker
        background-color: #FF9132
        &::before
          content: "→"
          width: auto
          height: auto
          background-color: transparent
      & .services__info
        top: 0
      & .services__title
        margin-top: 0
      &::after
        top: 0
      &::before
        background: linear-gradient(180deg, rgba(255,255,255,0) 100%, rgba(94,94,94,0.6) 0)
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
  &__title
    position: relative
    z-index: 10
    color: white
    font-weight: 500
    font-size: 16px
    line-height: 24px
    margin-bottom: 10px
    max-width: 275px
    margin-top: 32%
    transition: all .2s linear
  &__info
    position: relative
    transition: all .2s linear
    top: 100%
    z-index: 10
    & ul 
      list-style-type: none
      padding-left: 12px
      & li 
        list-style-image: url(../img/service-list.svg)
        color: white
        font-size: 14px
        line-height: 22px

 
.bg-services
  background-image: url(../img/bg-service.jpg)
  background-repeat: no-repeat