.breadcrumbs
  display: flex
  padding: 22px 0
  & li 
    color: #A3A3A3
    padding: 5px 10px 5px 0
    font-size: 12px
    margin-right: 15px
    & a
      display: inline-block
      text-decoration: none
      position: relative
      color: #a3a3a3
      font-size: 12px
      &::before
        content: "-"
        color: #a3a3a3
        display: block
        position: absolute
        right: -15px
        top: 50%
        transform: translateY(-50%)
        font-size: 10px

