.pagination
  width: 100%
  & ul 
    display: flex
    padding: 60px 0
    & li
      margin-right: 10px
      &:last-child
        margin-right: 0
      & a 
        border-radius: 3px
        border: 1px solid #E7E7E7
        text-decoration: none
        color: black
        display: flex
        justify-content: center
        align-items: center
        transition: all .2s linear
        font-size: 12px
        font-weight: 500
        line-height: 24px
        width: 40px
        height: 40px
        position: relative
        &.active
          background-color: $color-main
          color: white
          border-color: $color-main
          pointer-events: none
        &:hover
          border-color: $color-main
      & .next::after, & .prev::after
        content: ""
        position: absolute
        display: block
        top: 35%
        transition: background-color .2s linear
        width: 10px
        height: 10px
        border-top: 2px solid black
        border-right: 2px solid black
      & .next::after
        transform: rotate(45deg)
        right: 40%
      & .prev::after
        transform: rotate(-135deg)
        left: 40%
      & .dotted, & .disabled
        pointer-events: none
        color: #c9c9c9
        &::after
          border-color: #c9c9c9


        

          