*
  box-sizing: border-box
  font-weight: 400
  color: black 
  margin: 0
  padding: 0
  font-family: "Rubick"
body
  min-height: 100vh
  display: flex
  flex-direction: column

main
  flex: 1 0 0
ul
  list-style: none
  padding: 0
  margin: 0
h1, h2, h3, h4, h5, h6, p 
  margin: 0
span 
  color: #000424
.section
  padding: 50px 0
.main-title, .main-title h2, .main-title h3
  display: block
  text-align: center
  margin-bottom: 50px
  font-weight: 500
  font-size: 36px
  color: #000424
  line-height: 42px
p 
  @include text
p + p 
  margin: 20px 0
h1, .title
  @include title
.title-block 
  background-color: #EBECF1
  padding: 28px 0
  margin-bottom: 35px

textarea
  resize: none
input, textarea
  color: #000424
  border-radius: 3px
  border: 1px solid #E4E4E4
  outline: none
  padding: 24px
  transition: border .2s linear
  &:hover
    border-color: darken($color-main, 15%)
  &:focus 
    border-color: $color-main
  &::placeholder
    color: #B4B4B4
    font-size: 12px
.container
  max-width: 1277px
  padding: 0 20px
  margin: 0 auto
  width: 100%
  
.content-center
  display: flex !important
  justify-content: center !important

.social
  display: flex
  &__item
    text-decoration: none
    display: flex 
    align-items: center
    justify-content: center
    height: 35px
    width: 35px
    transition: all .2s linear
    background-color: #F5F5F5
    margin-right: 10px
    &:last-child
      margin-right: 0
    & [class^="icon-"], & [class*="icon-"]
      &::before
        color: #949494
    &:hover
      background-color: $color-main
      & [class^="icon-"], & [class*="icon-"]
        &::before
          color: #ffffff
.contact
  display: flex
  flex-direction: column
  &__phone
    margin-left: auto
    margin-bottom: 7px
    text-decoration: none
    text-transform: uppercase
    color: #000424
    font-size: 18px
    line-height: 21px
    font-weight: 500
    transition: color .2s linear
    &:hover
      color: lighten(#000000, 35%)
  &__mail
    color: $color-main
    transition: color .2s linear
    text-decoration: none
    font-size: 13px
    margin-left: auto
    & [class^="icon-"], & [class*="icon-"]
      margin-right: 5px
      &::before
        color: $color-main
        transition: color .2s linear
    &:hover
      color: darken($color-main, 15%)
      & [class^="icon-"], & [class*="icon-"]
        &::before
          color: lighten($color-main, 10%)
.text-right
  text-align: right
.menu-mobile 
  display: none
.burger
  display: none
  width: 30px
  height: 24px
  justify-content: center
  align-items: center
  cursor: pointer
  &__icon
    height: 2px
    background-color: $color-main
    border-radius: 3px
    position: relative
    width: 100%
    transition: background-color .2s linear
    &::before, &::after
      content: ""
      position: absolute
      display: block
      background-color: $color-main
      height: 2px
      width: 100%
      top: -10px
      transition: background-color .2s linear
    &::after
      top: 10px 
  &:hover 
    & .burger__icon, & .burger__icon::before, & .burger__icon::after
      background-color: darken($color-main, 15%)
.btn
  background: transparent
  border: 1px solid #DDDDDD
  outline: none
  text-decoration: none
  color: #000424
  transition: all .2s linear
  &:hover
    border-color: $color-main
    background-color: $color-main
    color: white
.checkbox
  position: relative
  height: 20px
  width: 20px

  user-select: none
  & input[type="checkbox"]
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    width: 20px
    height: 20px
    opacity: 0
    z-index: 10
  & .mark
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 20px
    background-image: url(../img/checkbox.svg)
    background-repeat: no-repeat
  & input[type="checkbox"]:checked ~ .mark 
    background-image: url(../img/checkbox-checked.svg)
    
    
.search 
  & input[type="text"]
    padding: 21px 25px
    width: 100%
    color: #000424
  &__field
    position: relative
    & label
      position: absolute
      right: 20px
      top: 50%
      transform: translateY(-50%)
      & [class^="icon-"], & [class*="icon-"]
        &::before
          color: #B4B4B4

.tags
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 23px
  grid-auto-rows: auto
  margin-bottom: 45px
  &__text
    @include text
    color: #000424
    transition: color .2s linear
    text-decoration: none
    &:hover
      color: $color-main

.quote
  border: 1px solid #D1D1D1
  padding: 25px 77px
  display: flex
  align-items: center
  margin-bottom: 36px
  &__text
    font-size: 18px
    line-height: 30px
    color: #525252
    font-style: italic
    margin-left: 68px
    width: 77%
.btn-camback
  font-size: 12px
  display: inline-block
  margin: 27px 0
  color: #606060
  padding: 15px 28px 15px 44px
  transition: all .2s linear
  position: relative
  &::after
    content: ""
    display: block
    position: absolute
    left: 25px
    top: 50%
    transition:  all .2s linear
    transform: translateY(-50%) rotate(-45deg)
    height: 4px
    width: 4px
    border-top: 1px solid #606060
    border-left: 1px solid #606060
  &:hover::after 
      border-color: white
.table-hidden 
  overflow: auto
  padding-bottom: 60px
table
  width: 100%
  border-collapse: separate
  border-spacing: 0 10px
  & td
    padding: 17px 20px
    font-size: 16px
    line-height: 27px
    color: #000424
  & thead td 
    color: #949494
    font-size: 14px
  & tbody td
    border-top: 1px solid #E8E8E8
    border-bottom: 1px solid #E8E8E8
    max-width: 275px
    &:first-child
      border-left: 1px solid #E8E8E8
      color: #949494
      text-align: center
    &:last-child
      border-right: 1px solid #E8E8E8
.file
  background-image: url(../img/file.svg)
  background-repeat: no-repeat
  width: 27px 
  height: 32px
  display: inline-block

.message
  margin: 0 auto
  padding: 28px 30px
  text-align: center
  font-weight: 500
  font-size: 24px
  line-height: 36px
  margin-bottom: 40px
  color: #000424
  border: 5px solid #F58220
  width: 76%
.bg-second
  background: #EBECF1
.pagination
  position: static
  & .swiper-pagination-bullet
    border-radius: 0
    width: 7px
    height: 7px
    margin: 0 3px  
.btn-next
  display: flex
  justify-content: center
  & a 
    padding: 7px 42px 7px 29px
    font-weight: 500
    color: #000424
    font-size: 12px
    line-height: 27px
    position: relative
    &::before
      content: ""
      transition: all .2s linear
      width: 3px
      height: 3px
      transform: rotate(45deg) translateY(-70%)
      border-top: 2px solid #606060
      border-right: 2px solid #606060
      position: absolute
      right: 27px
      top: 50%
      right: 20px
    &:hover::before
      border-color: white
.map
  overflow: hidden
  position: relative
  max-height: 700px
  margin-top: -35px
  &-message
    z-index: 999999
    padding: 50px 60px
    background: white
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.11)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(50%, -50%)
.parent
  position: relative
  cursor: pointer
  padding-right: 10px
  & > ul > li.parent
    & > a::after
      border: none
      border-right: 2px solid #000424
      border-bottom: 2px solid #000424
    & > a:hover::after
      border-color: $color-main
    &:hover > a::after
      border-color: $color-main
    & > ul 
      left: 100%
      top: 0
  &:hover
    & > a, & > a::after
      color: $color-main
      border-color: $color-main
  & > a 
    position: relative
    &::after
      content: ""
      position: absolute
      display: block
      width: 4px
      height: 4px
      right: -15px
      top: 49%
      transform: translateY(-50%) rotate(-45deg)
      transition: all .2s linear
      border-left: 2px solid #000424
      border-bottom: 2px solid #000424
    &:hover::after
      border-color: $color-main
  & > ul 
    transition: opacity .2s linear
    opacity: 0
    z-index: -999
    top: 101%
    left: -30px
    position: absolute
    display: flex
    flex-direction: column
    background: white
    box-shadow: 0px 4px 4px rgba(197, 197, 197, 0.25)
    padding: 10px 0
    & > li 
      white-space: nowrap
      padding: 0 20px
      margin-right: 0 !important
  &:hover > ul 
    opacity: 1
    z-index: 1000
.header__menu ul li.parent > ul > li > a
  padding: 10px 0

.modal-message
  display: none
  max-width: 430px
  &__title
    display: block
    text-align: center
    font-size: 30px
    font-weight: 500
    line-height: 35px
    margin-bottom: 20px
  & svg 
    width: 100%
    margin-bottom: 30px
  &__subtitle
    display: block
    font-size: 18px
    text-align: center
    line-height: 24px
  & .feedback__form
    display: flex
    flex-direction: column
  & .feedback__btn
    padding: 20px 0
  & .agree
    display: flex
    & .checkbox
      margin-right: 30px
    & label
      color: #949494
      font-size: 14px
.video-fancy
  position: relative
.icon-video
  position: absolute
  bottom: -20px
  right: 10%
.content
  padding: 25px 0 20px

.tab
  display: flex
  margin-bottom: 35px
  & button
    cursor: pointer
    border: none
    background: transparent
    font-size: 24px
    border-bottom: 1px dashed $color-main
    color: $color-main
    font-weight: 400
    margin-right: 65px
    &:last-child
      margin-right: 0
    &:hover
      color: darken($color-main, 15%)
      border-color: darken($color-main, 15%)
    &.active
      border-bottom: none
      color: #000424
      font-weight: 700
  &__content
    display: flex
    flex-direction: column
    flex-basis: 100%
    position: relative
    opacity: 1
    transition: all .2s linear
    &[data-hidden="true"]
      opacity: 0
      position: absolute
    & a
      color: $color-main
      text-decoration: none
      transition: color .2s linear
      margin-bottom: 10px
      font-size: 18px
      &:hover
        color: darken($color-main, 15%)
    & .contact
      font-size: 18px
      margin-bottom: 25px
      max-width: 250px
    & .data
      color: #686868
  &__wrap
    display: flex
    position: relative

.contact
  color: #000424
