@font-face 
  font-family: "Rubick" 
  src: url(../font/Rubik-Regular.eot), url(../font/Rubik-Regular.ttf), url(../font/Rubik-Regular.woff)
  font-weight: 400
@font-face 
  font-family: "Rubick" 
  src: url(../font/Rubik-Medium.eot), url(../font/Rubik-Medium.ttf), url(../font/Rubik-Medium.woff)
  font-weight: 500

@font-face 
  font-family: "Rubick" 
  src: url(../font/Rubik-Bold.eot), url(../font/Rubik-Bold.ttf), url(../font/Rubik-Bold.woff)
  font-weight: 700

*
  font-family: "Rubick"
  font-weight: 400
@font-face 
  font-family: 'icomoon'
  src:  url('../font/icon.eot?xitdiq')
  src:  url('../font/icon.eot?xitdiq#iefix') format('embedded-opentype'), url('../font/icon.ttf?xitdiq') format('truetype'), url('../font/icon.woff?xitdiq') format('woff'), url('../font/icon.svg?xitdiq#icon') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change ../font */
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-instagram:before 
  content: "\e901"
  color: #c7c7c7

.icon-pdf:before 
  content: "\e903"
  color: #c2c2c2

.icon-telegram:before 
  content: "\e905"
  color: #c7c7c7

.icon-vk:before 
  content: "\e906"
  color: #c7c7c7

.icon-whatsapp:before 
  content: "\e90d"
  color: #c2c2c2

.icon-clock:before 
  content: "\e908"
  color: #c7c7c7

.icon-loupe:before 
  content: "\e909"
  color: #c6c6c6

.icon-mail:before 
  content: "\e90a"
  color: #c7c7c7

.icon-placeholder:before 
  content: "\e90b"
  color: #c7c7c7

.icon-mail1:before 
  content: "\e90c"

.icon-facebook:before 
  content: "\e900"

.icon-ok:before 
  content: "\e902"

.icon-twitter:before 
  content: "\e904"

.icon-youtube:before 
  content: "\e907"

