@media screen and ( max-width: 1400px )
  .map-message
    transform: translate(-2%, -50%)
  .container
    max-width: 1140px
  .header__menu ul li
    margin-right: 20px
  .header__menu ul li a
    font-size: 14px
  .header__search
    max-width: 200px
  .logo svg
    max-width: 150px
  .contact__phone
    font-size: 16px
  .contact__mail
    font-size: 12px
  .news__img
    max-height: 255px
  .services
    grid-auto-rows: 185px
  .services__item
    padding: 27px 60px 20px 30px
  .map
    max-height: 600px
@media screen and ( max-width: 1200px )
  .tab
    margin-bottom: 20px
  .map-message
    padding: 20px
  .tab__content .contact
    font-size: 16px
    margin-bottom: 20px
  .tab button
    font-size: 20px
    margin-right: 40px
  .tab__content a
    font-size: 14px
  .map
    max-height: 450px
    margin-top: -30px
  .services
    grid-auto-rows: 153px
    &__marker
      right: 10px
      bottom: 15px
  .news__img
    margin-bottom: 20px
    max-height: 210px
  .news__title
    font-size: 16px
    line-height: 20px
  .news p
    width: 100%
    line-height: 20px
  .news
    grid-auto-rows: minmax(150px, 445px)
  .news__geo
    margin-bottom: 10px
  .news__data
    font-size: 11px
    padding: 7px
  .title-block
    padding: 20px 0
    margin-bottom: 30px
  .logo svg
    max-height: 54px
  .header__panel
    padding: 10px 0
  .menu-mobile 
    display: flex
  .header__list, .header__social, .header__menu ul
    display: none
  .burger
    display: flex
  h1, .title 
    font-size: 32px
    line-height: 40px
  .container
    max-width: 960px
  .contact__phone
    font-size: 15px
  .result-search ol li
    width: 70%
  .advantage__item
    flex-basis: 22%
  .quote__text
    width: 100%
    margin-left: 45px
  table tbody td
    padding: 12px 14px
    font-size: 14px
    line-height: 20px
  .message 
    width: 100%
  .hero__description
    padding-top: 70px 
  .geo__slider .swiper-slide, .geo .btn-next, .geo .pagination
    padding-left: 25px
  .geo .btn-next
    margin-bottom: 50px
  .geo__slider .slide-content
    width: 75%
  .feedback
    padding: 70px 0
@media screen and ( max-width: 992px )
  .feedback
    padding: 60px 0
  .geo__title
    padding: 10px 0
    font-size: 16px
    line-height: 20px
  .geo__text
    font-size: 13px
    line-height: 17px
  .geo .pagination
    padding: 15px 0
  .geo__slider .swiper-slide
    padding-top: 20px
  .geo__slider .swiper-slide, .geo .btn-next, .geo .pagination
    padding-left: 10px
  .geo__slider .slide-content
    width: 95%
  .geo .btn-next
    margin-bottom: 20px
  .hero__description
    padding-top: 50px 
  .hero__text
    font-size: 16px
    line-height: 22px
    margin-bottom: 20px
  .hero .pagination
    padding: 20px 0
  .services
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 175px
    &__marker
      right: 28px
      bottom: 24px
  .message
    font-size: 20px
    padding: 20px
    line-height: 26px
    margin-bottom: 20px
  table tbody td:nth-child(n+2)
    min-width: 200px
  .btn-camback
    margin: 15px 0 20px 
  .quote
    padding: 20px 25px
  .quote__text
    margin-left: 20px
    font-size: 16px
    line-height: 20px
  .tags
    grid-gap: 25px 15px 
  .tags__text
    font-size: 14px
    line-height: 18px
  .advantage
    flex-wrap: wrap
  .advantage__item
    flex-basis: 40%
    margin-bottom: 35px
  .advantage__text
    margin-top: 15px
  .news
    grid-gap: 15px
  .news__img 
    max-height: 170px
    margin-bottom: 10px
  .section
    padding: 30px 0
  .main-title, .main-title h2, .main-title h3
    margin-bottom: 30px
    font-size: 30px
  .title-block
    padding: 18px 0
    margin-bottom: 20px
  .result-search ol li
    width: auto
  .footer__wrap 
    flex-direction: column
  .footer__item
    align-items: baseline
    margin-bottom: 10px
    & .footer__address
      text-align: left
  .error__title
    font-size: 45px
    padding: 20px 0
  .error__subtitle
    font-size: 20px
    margin-bottom: 10px
  .error p, .error__text
    font-size: 16px
    margin-bottom: 20px
  .search input[type="text"]
    padding: 18px
  h1, .title 
    font-size: 28px
    line-height: 36px
  .container
    max-width: 720px
    padding: 0 10px
  .pagination ul li a
    width: 30px
    height: 30px
    font-size: 11px
  .pagination ul li .next::after, .pagination ul li .prev::after
    width: 8px
    height: 8px
  .pagination ul li
    margin-right: 4px
  .pagination ul
    padding: 45px 0
  .detail h1, .detail .title
    width: 100%
  .detail__wrap
    flex-direction: column
  .detail__media
    margin-bottom: 20px
  .info__media
    flex-direction: column
    & img 
      margin: 0 0 20px 0
      width: 100%
  .client .pagination, .reviews .pagination
    margin-top: 15px
  .client, .reviews
    margin-bottom: 15px
  .direction
    grid-auto-rows: minmax(200px, 220px) 
  .direction__title span
    font-size: 15px
    line-height: 20px
    max-width: 180px
  .direction__title
    left: 10px
    bottom: 15px
  .hero__title, .hero h1
    font-size: 44px
    line-height: 55px
  .map
    max-height: 350px
    margin-top: -20px
  .feedback__title
    font-size: 26px
    line-height: 30px
    margin-bottom: 15px
  .feedback__subtitle
    font-size: 16px
    margin-bottom: 25px
  .detail__media
    position: relative
  .video-fancy
    position: static
  .icon-video
    right: 50%
    top: 50%
    transform: translate(50%, -50%)
    bottom: auto 
@media screen and ( max-width: 768px )
  .tab
    margin-bottom: 15px
  .tab__content .contact
    font-size: 13px
    margin-bottom: 10px
  .tab__content .data
    font-size: 12px
  .tab button
    margin-right: 20px
    font-size: 16px
  .modal-message__title
    font-size: 24px
    margin-bottom: 10px
  .modal-message .feedback__btn
    padding: 15px 0
  .modal-message .agree label
    font-size: 12px
  .feedback
    padding: 40px 0
    padding: 0 10px
  .map
    max-height: 300px
    margin-top: -15px
  .hero .pagination
   padding: 10px 0
  .hero__btn
    padding: 10px 30px 10px 20px
  .hero__text
    width: 80%
  .direction
    grid-template-columns: 1fr 1fr
    grid-gap: 20px
    grid-auto-rows: auto
  .direction__title
    left: 20px
    bottom: 25px
  .services
    grid-template-columns: 1fr
    grid-auto-rows: 230px
  .message
    font-size: 16px
    padding: 15px
    line-height: 20px
    margin-bottom: 15px
    border-width: 2px
  table tbody td, table td 
    font-size: 12px
    line-height: 16px
    padding: 8px 10px
  table tbody td:nth-child(n+2)
    min-width: 150px
  table tbody td::last-child
    min-width: none
  .quote
    padding: 10px 15px
    align-items: flex-start
  .quote__text
    margin-left: 15px
    font-size: 13px
    line-height: 17px
  .detail h1, .detail .title
    margin-bottom: 15px
  .pagination ul
    padding: 30px 0
  .tags
    grid-template-columns: 1fr 1fr
  .section
    padding: 15px 0
  .main-title, .main-title h2, .main-title h3
    margin-bottom: 15px
    font-size: 28px
  .title-block
    padding: 10px 0
    margin-bottom: 15px
  p
    font-size: 13px
    line-height: 19px
  .result-search ol
    padding-left: 20px 0 20px 20px
  .result-search ol li
    margin-bottom: 20px
  .result-search ol li span, .result-search ol li .result-search__title
    margin-bottom: 5px
    font-size: 14px
    line-height: 17px
  .result-search ol li p, .result-search ol li .result-search__text
    font-size: 13px
    line-height: 17px
  .breadcrumbs li, .breadcrumbs li a 
    font-size: 11px
  .breadcrumbs li
    margin-right: 8px
  .breadcrumbs li a::before
    right: -10px
  .search input[type="text"] 
    font-size: 14px
    padding: 14px
  .error
    padding: 24px 0 55px
  .error p, .error__text 
    font-size: 14px
    line-height: 18px
    margin-bottom: 10px
    text-align: center
  .error__title
    padding: 10px 0
  h1, .title 
    font-size: 24px
    line-height: 32px
  .container
    max-width: 540px
  p + p 
    margin: 10px 0
  .news__img
    max-height: none
  .news__data
    font-size: 12px
    padding: 9px
  .news
    grid-template-columns: 1fr
    grid-auto-rows: auto
    grid-row-gap: 35px
  .info__title
    font-size: 25px
    margin-bottom: 30px
  .info ul li
    font-size: 14px
  .info__media span
    font-size: 20px
  .info__media
    margin-bottom: 10px
  .footer__box
    margin-top: 35px
@media screen and ( max-width: 576px )
  .map-message
    transform: translate(-50%, -50%)
  .content
    padding: 15px 0 10px
  .feedback .agree .checkbox
    margin-right: 30px
  .feedback__field.textarea textarea 
    height: 100px
  .feedback__btn
    padding: 15px 0
  .feedback__form
    display: flex
    flex-direction: column
  .feedback
    padding: 20px 10px 40px
  .feedback__subtitle
    font-size: 14px
    line-height: 17px
    text-align: center
  .feedback__title
    margin-bottom: 5px
  .map
    max-height: 250px
  .geo__wrap
    flex-direction: column
  .geo__map
    max-height: 250px
    flex: 0 0 100%
  .geo__slider .slide-content
    width: 95%
  .hero__description
    padding-top: 10px
  .hero__text
    width: 100%
    font-size: 14px
    line-height: 18px
  .hero__btn
    font-size: 15px
  .hero
    & .swiper-slide
      max-height: 310px
  .hero__title, .hero h1
    font-size: 30px
  .direction
    grid-template-columns: 1fr
  .direction__image img
    height: auto
    width: 100%
  .direction 
    grid-auto-rows: minmax(220px, 230px)
  .direction__item.tall
    grid-row-start: span 1
  .direction__title span
    font-size: 17px
    line-height: 23px
  .services 
    grid-auto-rows: 158px
  .services__item
    padding: 10px
  .services__marker
    width: 30px 
    height: 30px
    right: 10px
  .services__title
    max-width: 240px
    font-size: 14px
    line-height: 18px
  .services__info ul li 
    font-size: 12px
    line-height: 16px
  .info__title
    font-size: 22px
    line-height: 26px
    margin-bottom: 20px
  .info__line
    display: none
  .info__wrap
    grid-template-columns: 1fr
  .message
    font-size: 14px
    padding: 10px
    line-height: 16px
    margin-bottom: 10px
  .tags
    grid-template-columns: 1fr
    grid-gap: 10px
    margin-bottom: 15px
  .tags__text
    font-size: 13px
  .advantage__item
    flex-basis: 100%
  .pagination ul li a
    width: 28px
    height: 28px
    font-size: 10px
  .title-block
    padding: 7px 0
  .breadcrumbs 
    padding: 14px 0
  .logo svg 
    max-width: 145px
  .contact__phone
    font-size: 15px
  .search input[type="text"]
    font-size: 14px
  h1, .title 
    font-size: 19px
    line-height: 20px
  .container
    max-width: 375px
  .main-title, .main-title h2, .main-title h3
    font-size: 24px
  .detail__media
    margin-bottom: 15px