$color-main: #F58220
$color-text: #686868

@mixin text 
  font-size: 16px
  line-height: 24px
  color: $color-text


@mixin title
  font-size: 36px
  line-height: 43px
  color: #000424
  font-weight: 700
  